@page "/photo/{PhotoId:int}"

<PageTitle>Photo - Kelli Photo</PageTitle>

<div class="container mt-4">
    <PhotoViewer PhotoId="PhotoId" />
</div>

@code {
    [Parameter] public int PhotoId { get; set; }
}
